<aside class="main-sidebar">
    <section class="sidebar">

        <div class="user-panel">
            <div class="pull-left image">
                <img src="https://media.licdn.com/media/p/2/000/0b0/06f/062fd95.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Petri Reiman</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <ul class="sidebar-menu">

            <li {{#isIndexPage?}} class="active" {{/isIndexPage?}}>
                <a href="/">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li {{#isUserPage?}} class="active" {{/isUserPage?}}>
                <a href="/user">
                    <i class="fa fa-user"></i> <span>User</span>
                </a>
            </li>
            <li>
                <a href="/user/datasource">
                    <i class="fa fa-database"></i> <span>Data Sources</span>
                    <small class="label pull-right bg-primary">3</small>
                </a>
            </li>
            <li>
                <a href="/user/datasource/query">
                    <i class="fa fa-cog"></i> <span>Queries</span>
                    <small class="label pull-right bg-blue-gradient">5</small>
                </a>
            </li>

        </ul>
    </section>
</aside>
